@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.navbar-buttons {
    gap: 1rem;
}

.navbar-buttons i {
    vertical-align: middle;
}

.navbar-buttons a {
    font-size: 1.2rem;
    text-decoration: none;
    margin: auto;
    color: black;
}

#logo {
    width: 5rem;
    cursor: pointer;
}

.bold-text{
    font-weight: 600;
}

.icons{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.4rem;
}