<div class="modal fade" [id]="msgId" tabindex="-1" aria-labelledby="modalMsgLabel" aria-hidden="true" >
    <div class="modal-dialog  modal-dialog-centered" >
        <div class="modal-content"  >
            <div class="modal-body text-center ">
                <i class="bi  fs-1 " [ngClass]="message.succes ? ['bi-check-circle-fill','text-success']: ['bi-x-circle-fill','text-danger']"></i>
                <h4>{{message.msgTitle}}</h4>
                
                <h6 class="text-secondary fw-light">{{message.mssage}}</h6>
            </div>
            <div class="modal-footer border-0">
                <button type="button" class="btn w-100 text-center" data-bs-dismiss="modal" [ngClass]="message.succes ? 'btn-success ':'btn-danger ' ">OK</button>
            </div>
        </div>
    </div>
</div>