<section class="advertise container d-flex align-items-center my-3">
    <div class="row  my-auto">
        <div class="col">
            <img src="../../../../assets/images/mannequins.jpg" alt="mannequins" class="advertise__image w-100">
        </div>
        <div class="col">
            <h1 class="fw-bolder">FIND TOUE PERFECT LOOK AT XX NEW ON PARIS</h1>
            <p class="text-secondary fw-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui corrupti
                sunt dolor? Voluptates labore recusandae perspiciatis iure laboriosam animi pariatur tenetur obcaecati
                inventore sed aliquid explicabo, reiciendis odit molestias facilis.</p>
            <div class="text-center">
                <button class="btn btn-dark rounded-5" routerLink="/products">SHOP NOW</button>
            </div>
        </div>
    </div>
</section>