<footer class="mt-5 mb-0">
    <section class="contact d-flex  py-5 px-5">
        <section class="d-flex   flex-column ">
            <img src="../../../../assets/images/logo.png" />
            <div class="w-100">
                <p class="text-secondary contact__title w-50 ">GET NEWSLETTER UPDATE FOR UPCOMING PRODUCTS AND BEST OFFERS AND
                    DISCOUNT FOR ALL ITEMS</p>
                <input type="email" class="w-10 rounded-5 border-1 border-secondary me-2 p-1 mb-1" />
                <button class="btn btn-dark rounded-5 w-auto rounded-5 p-1 px-3">Submit</button>
            </div>
        </section>
    </section>
    <section class="d-flex justify-content-between align-items-center bg-dark py-3 px-5 my-0">
        <p class="text-light my-auto ">2023 All right reserved</p>
        <div class="social-media d-flex justify-content-center gap-2">
            <i class="bi bi-twitter-x text-light"></i>
            <i class="bi bi-youtube text-light"></i>
            <i class="bi bi-facebook text-light"></i>
        </div>
    </section>
</footer>