<section class="my-5">
    <h2 class="text-center">featured collection</h2>
    <section class="category container" routerLink="/products" >
        <section class="category__image category__image-women d-flex justify-content-center align-items-center"  >
            <h3 class="fw-bold fs-2 category__image-title">Women</h3>
        </section>
        <section
            class="category__image category__image-jacket grid-row-span-2 d-flex justify-content-center align-items-center" >
            <h3 class="fw-bold fs-2 category__image-title">Jacket</h3>
        </section>
        <section class="category__image category__image-men d-flex justify-content-center align-items-center" >
            <h3 class="fw-bold fs-2 category__image-title">Men</h3>
        </section>
        <section
            class="category__image category__image-jewelry grid-row-span-2 d-flex justify-content-center align-items-center">
            <h3 class="fw-bold fs-2 category__image-title">Jewelry</h3>
        </section>
        <section
            class="category__image category__image-backpack grid-row-span-2  d-flex justify-content-center align-items-center" >
            <h3 class="fw-bold fs-2 category__image-title">backpack Bag</h3>
        </section>
        <section class="category__image category__image-electronic d-flex justify-content-center align-items-center" >
            <h3 class="fw-bold fs-2 category__image-title">Electronics</h3>
        </section>
    </section>
</section>