<div class="text-center pt-5 my-5" *ngIf="hasError">
  <img src="./../../../../assets/images/danger-sign_8376179.png" width="50px" alt="danger sign">
  <p class="fs-3 fw-bold">Oops, something went wrong!</p>
</div>

<div class="row d-flex flex-lg-row flex-column justify-content-center m-5 flex-wrap align-items-center"
    *ngIf="!loading && !hasError">
    <div class="col text-center">
        <img [src]="product.image" class="w-50" alr="product image" />
    </div>
    <div class="col text-left pt-5">
        <h5>{{product.title}}</h5>
        <span *ngFor="let _ of getRatingArray(product.rating.rate) "><i
                class="bi bi-star-fill text-warning me-2 fs-5"></i></span> <span class="text-secondary">
            ({{product.rating.count}})</span>
        <p>{{product.description}}</p>
        <p class=" fw-bold fs-3">{{product.price}}SR</p>
        <button class="btn btn-dark bold-text mx-0" (click)="addToCart();showToast() ">Add to cart</button>
    </div>
</div>

<div class="text-center" *ngIf="loading">
    <app-spinner></app-spinner>
</div>

  <div class="toast align-items-center mt-2 mx-2 position-fixed top-0 end-0 bg-success text-light" role="alert" aria-live="assertive" aria-atomic="true" #liveToast>
      <div class="d-flex">
        <div class="toast-body " >
          Added a new item to the cart
        </div>
        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>

